.signupbtns {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
 
  height: 80em;
  width: 80em;
}

.userform {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  height: 80em;
  width: 80em;
}

