#logo {
  height: 25px;
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.logotag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* box-shadow: 20px 20px 50px 15px grey; */
  align-items: center;
  /* background-color: whitesmoke; */
  border-color: aqua;
  padding: 0.5em;
  border-style:ridge;
  border-radius: 2%;
  align-self: baseline;
  height: inherit;
  top: 0.5em;
}

.logotag:hover {
  box-shadow: 20px 20px 50px 15px aqua;
}

.logo h1 {
  color: whitesmoke;
  font-style: italic;
  /* font-family: 'Sacramento', cursive; */
}

.circle {
  height: 5em;
  width: 5em;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

#logoimg {
  height: inherit;
  width: inherit;
  background-color: silver;
  padding: .05em;
  border-style: none;
  border-style: outset;
}

.App-logo {
  height: inherit;
  width: inherit;
}

#logobtn {
  height: inherit;
  background-color: #5a5c5f ;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: space-between;
  align-items: baseline;
}

#diffsquare {
  color: transparent;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: baseline;
  font-family: 'Times New Roman', Times, serif;
  height: 80px;
  background-color: rgb(51, 48, 48);
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 1000;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left: 0;
}

.nav:hover {
  box-shadow: 20px 20px 50px 15px aqua;
} 
.nav {
  box-shadow: 0px 0px 2px 0px aqua;
}

.btn-primary {
  background-color: silver;
  border: black;
}

#dropdownMenu2 {
  border-color: aqua;
}

#dropdownMenu2:hover {
  box-shadow: 20px 20px 50px 15px aqua;
}

.dropdown-item:hover {
  box-shadow: 20px 20px 50px 15px aqua;
}

.menu #id {
  background-color: transparent;
  border-color: aqua;
  color: white;
}