.homebtns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;

}

.hometx-span {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80em;
  align-self: center;
}

#homelogoimg {
  color: white;
  height: inherit;
  width: inherit;
}

.pending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 50%;
  height: 50%;
  top: 50%;
  bottom: 50%;
}