.homebtns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  position: relative;
  margin: 3rem;
}

.hometx-span {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80em;
  align-self: center;
}

#homelogoimg {
  color: white;
  height: inherit;
  width: inherit;
  max-width: 17rem;
  padding: 0.5em;
  border:black;
}

.pending {
  align-items: inherit;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing:inherit;
  
  border-radius: 4px;

  background-color: black;
  color: black;
  
  box-sizing: border-box;
  border: 3px solid #515355;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#welcome-msg {
  margin-top: 3rem;
  color: white;
}

button {
  color: #515355;
  background-color: black;
}

.homebtns h1 {
  color: whitesmoke;
  /* font-style: italic; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
