
.signin {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  width: 30%;
}

.userform {
  margin: 4rem 0rem !important;
}

.back-button {
  margin-bottom: 1.5rem;
  align-self: center;
}

.signin-btns {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  align-content: space-around;
  align-items: center;
  width: 100%;
  height: 15%;
}